<div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Reportes de agua</strong></div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 10em">
                        Fecha
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Calcio
                    </th>
                    <th>
                        Magnesio
                    </th>
                    <th>
                        Sodio
                    </th>
                    <th>
                        Sulfatos
                    </th>
                    <th>
                        Cloruros
                    </th>
                    <th>
                        Carbonatos
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Publico
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th style="width:1em">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="report in reports | orderBy:'-date'">
                    <td>
                        {{report.date | date:'dd/MM/yyyy'}}
                    </td>
                    <td>
                        <a href="#/settings/water/{{report._id}}">
                            {{report.name}}
                        </a>
                    </td>
                    <td>
                        {{report.cations.calcium}}
                    </td>
                    <td>
                        {{report.cations.magnesium}}
                    </td>
                    <td>
                        {{report.cations.sodium}}
                    </td>
                    <td>
                        {{report.anions.sulfate}}
                    </td>
                    <td>
                        {{report.anions.chloride}}
                    </td>
                    <td>
                        {{report.anions.carbonate}}
                    </td>
                    <td>
                        {{BrewCalc.waterBalance(report) | number:2 }}
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-check" title="Este reporte de agua es publico, puede ser vista por todos los usuarios" ng-show="report.isPublic"/>
                        <span class="glyphicon glyphicon-unchecked" title="Este reporte de agua es privado, solo lo puede ver usted" ng-hide="report.isPublic"/>
                    </td>
                    <td>
                        {{report.owner.name}}
                    </td>
                    <td>
                        <button ng-show="user._id === report.owner._id" data-target="#confirmation-{{report._id}}" data-toggle="modal"  type="button" class="close" aria-hidden="true">&times;</button>
                        <div class="modal fade" id="confirmation-{{report._id}}" role="dialog" aria-labelledby="#label">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="label">Confirmacion</h4>
                                    </div>
                                    <div class="modal-body">
                                        ¿Esta seguro que desea eliminar el reporte de agua {{report.name}}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">No</a>
                                        <button type="button" ng-click="removeReport(report)" data-dismiss="modal" class="btn btn-primary" >
                                            Si
                                        </button >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-body">
            <div class="col-md-12" >
                <a type="button" class="btn btn-default btn-sm pull-right" href="#/settings/water/new">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo reporte
                </a>
            </div>
        </div>
    </div>
</div>
