@media (max-width: 630px)
{
    /* generales  Tweeks abootstrap */
    body {
        padding: 0; 
        margin: 0;
    }

    .container {
        padding: 0;
    }

    .panel-body {
        padding: 15px;
        width: 100%;
        border: none;
    }
    .input-group {
        width: 100%;
    }

    .panel-heading {
        border-radius: 0;
        width: 100%;
    }
    .panel.panel-default {
        border: none;
    }

    .panel-body {
        border: aliceblue;
    }
     
    .panel-body > ul.list-group {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;
        margin-bottom: -15px;
    }

    /*menu */

    .nav li {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .nav li.active a {
        border: none;
        background: #f0f8ff;
    }

    .nav-tabs {
        border: none;
    }

    ul.nav-tabs {
        border: solid #ddd;
        border-width: 2px 0px;
    }



    /*footer */

    footer.container.footer {
        padding: 0 25px;
    }

    /*receta*/
    input#batch_size {
        width: 100%;
        border-radius: 2px;
    }

    table.table.table-condensed.table-hover td {
    }

    table.table.table-condensed.table-hover table {
        width: 100%;
    }

    table.table.table-condensed.table-hover tr {
        width: 100%;
        border: 1px solid #a7a7a7;
    }

}