body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.pager, .nav, .pagination, .carousel a { cursor: pointer; }

.gt-warning {
    background: yellow !important
}


.gt-green {
    background: green !important;
    color: white !important;
}

.gt-error {
    background: red !important;
    color: white !important;
}

.gt-calculated  {
    background: #FFFFCC !important
}

.gt-preset {
    background: #ddf8e6 !important;
}

.gt-fermentation-stage-title {
    font-weight: bold !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    width: 80% !important;
}

.gt-fermentation-stage-btn-move {
    margin-right: 1em !important;
    padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
    -webkit-appearance: none !important;
}

.gt-notification-unread {
    background: #F9F9F9 !important;
    border-width: 2px !important;
}

.gt-notification-new {
    background: lightgoldenrodyellow !important;
}

.gt-notificaction-count-alert {
    background: red !important;
}

.gt-notification {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    
}

.gt-sorted {
    cursor: pointer
}

.gt-sorted:hover {
    text-decoration: underline;
}

.gt-tagbox {
    border:0 !important;
}

.gt-tagbox:focus {
    border:0 !important;
}

.btn-yellow {
    color: #fff;
    background-color: #DDDD00;
    border-color: #DDDD00;
}

.btn-yellow:hover {
    color: #fff !important;
    background-color: #d0d000 !important;
    border-color: #d0d000 !important;
}

.btn-brown {
    color: #fff;
    background-color: #a52a2a;
    border-color: #a52a2a;
}

.btn-brown:hover {
    color: #fff !important;
    background-color: #951a1a !important;
    border-color: #951a1a !important;
}

.gt-log-active {
    background: lightblue !important;
}