body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.pager, .nav, .pagination, .carousel a { cursor: pointer; }

.gt-warning {
    background: yellow !important
}


.gt-green {
    background: green !important;
    color: white !important;
}

.gt-error {
    background: red !important;
    color: white !important;
}

.gt-calculated  {
    background: #FFFFCC !important
}

.gt-preset {
    background: #ddf8e6 !important;
}

.gt-fermentation-stage-title {
    font-weight: bold !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    width: 80% !important;
}

.gt-fermentation-stage-btn-move {
    margin-right: 1em !important;
    padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
    -webkit-appearance: none !important;
}

.gt-notification-unread {
    background: #F9F9F9 !important;
    border-width: 2px !important;
}

.gt-notification-new {
    background: lightgoldenrodyellow !important;
}

.gt-notificaction-count-alert {
    background: red !important;
}

.gt-notification {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;

}

.gt-sorted {
    cursor: pointer
}

.gt-sorted:hover {
    text-decoration: underline;
}

.gt-tagbox {
    border:0 !important;
}

.gt-tagbox:focus {
    border:0 !important;
}

.btn-yellow {
    color: #fff;
    background-color: #DDDD00;
    border-color: #DDDD00;
}

.btn-yellow:hover {
    color: #fff !important;
    background-color: #d0d000 !important;
    border-color: #d0d000 !important;
}

.btn-brown {
    color: #fff;
    background-color: #a52a2a;
    border-color: #a52a2a;
}

.btn-brown:hover {
    color: #fff !important;
    background-color: #951a1a !important;
    border-color: #951a1a !important;
}

.gt-log-active {
    background: lightblue !important;
}

.gt-log-removed {
    background: red !important;
}

.gt-log-removed:hover {
    background: lightpink !important;
}

.animate-repeat {

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}


.animate-show {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
  opacity:1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.animate-show.ng-hide {
  opacity:0;
}


.print-panel {
    font-family: courier new;
}

.print-panel-xs {
    font-size: 8px !important;
}

.print-panel-sm {
    font-size: 10px !important;
}

.print-panel-md {
    font-size: 12px !important;
}

.print-panel-lg {
    font-size: 14px !important;
}

.print-panel table {
    font-size: inherit;
}

.chron {
    font-family: "Lucida Console", Sans-serif;
    font-size: 60px;
    width: 100px;
    font-weight: bold;
    color: green;
    background: black;
    padding-left: 10px;
}

// Grid Listview
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
