<!DOCTYPE html>
<html ng-app="share">
  <head>
    <title>Brew-o-Matic</title>
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="js/lib/ng-google-chart.js"></script>
    <script src="js/share.js"></script>
    <script src="js/helper.js"></script>
    <script src="js/RecipeCtrl.js"></script>
    <script src="js/resources.js"></script>
    <script src="js/LoginController.js"></script>
    <script src="js/CommentController.js"></script>
    <script src="js/FermentationCtrl.js"></script>
    <script src="js/Data.js"></script>
    <script src="js/ObjTree.js"></script>
  </head>
  <body ng-controller="ShareController" id="ShareController">
    <div id="fb-root"></div>
    <!--<script src="js/fb.js"></scsript>-->
    
    <div ng-include="'partial/nav.html'"></div>
    
    <!-- Logo & Breadcrumb -->
    <div class="container" style="margin-top: 1em;">
      <div class="row" >
        <div class="col-md-2" >
          <div class="panel panel-default" style="max-width:200px; max-height:200px;">
            <div class="panel-body" >
                <a href="/#/recipe">
                    <img src="images/logo.jpg" style="max-width:100%; max-height:100%;"/>
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-10" ng-show="recipe._id"> 
            <div class="panel panel-default">
                <div class="panel-body" >
                    <div><b>Compartida por:</b> {{recipe.owner.name}}</div>
                    <div><b>Cervecero:</b> {{recipe.BREWER}}</div>
                    <div ng-show="user" class="pull-right">
                        <a href="/#/recipe/clone/{{encodeName(recipe._id)}}" type="button" class="btn btn-default btn-xs">clonar</a>
                        <button ng-hide="user._id == recipe.owner._id" title="Agregar a favoritos" type="button" class="btn btn-default btn-xs">
                            <span ng-hide="user.favorites.indexOf(recipe._id) != -1" class="glyphicon glyphicon-star-empty" ng-click="addFavorites(recipe)"></span>
                            <span ng-show="user.favorites.indexOf(recipe._id) != -1" class="glyphicon glyphicon-star" ng-click="removeFavorites(recipe)"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="container" ng-show="notFound">
        <div class="alert alert-danger">
            UPS! Receta no encontrada, es posible que el usuario la haya borrado.
        </div>
    </div>
    
    <!-- Content -->
    <div class="container" ng-show="recipe._id">
        <div class="row"  ng-controller="RecipeTabCtrl">
            <div class="col-md-12" style="margin-bottom: -0.1em;">
                <ul class="nav nav-tabs">
                    <li ng-class="getActiveClass(tab)" ng-repeat="tab in sortTabs">
                        <a style="cursor: pointer" ng-click="changeTab(tab)">{{tabs[tab].title}}</a>
                    </li>
                </ul>
            </div>
            <div ng-include="'partial/share/share-'+tabs[selectedTab].template+'.html'"></div>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      
        function signinCallback(authResult) {
            var $scope = angular.element(document.getElementById('LoginController')).scope();
            $scope.$emit('g+login', authResult)
        }
    </script>      
  </body>
  
</html>