<!DOCTYPE html>
<html ng-app="index">
  <head>
    <title>Brew-o-Matic</title>
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="js/share.js"></script>
    <script src="js/RecipeListCtrl.js"></script>
    <script src="js/RecipeDetailCtrl.js"></script>
    <script src="js/LoginController.js"></script>
    <script src="js/resources.js"></script>
    <script src="js/Data.js"></script>
    <script src="js/ObjTree.js"></script>
  </head>
  <body ng-controller="ShareController" id="ShareController">
    <div id="fb-root"></div>
    <!--<script src="js/fb.js"></scsript>-->
    
    <!-- Logo & Breadcrumb -->
    <div class="container" style="margin-top: 1em;">
      <div class="row" >
        <div class="col-md-2" >
          <div class="panel panel-default" style="max-width:200px; max-height:200px;">
            <div class="panel-body" >
              <img src="images/logo.jpg" style="max-width:100%; max-height:100%;"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Content -->
    <div class="container">   
      <div class="panel panel-default">
        <div class="panel-heading"><strong>{{recipe.NAME}}</strong></div>
        <div class="panel-body">
            <div class="panel panel-default" id="RecipeDetailCtrl" >
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="recipename">Nombre</label>
                            <span class="form-control" id="recipename" ng-bind="recipe.NAME" />
                        </div>
                        <div class="col-lg-2">
                            <label for="batch_size">Batch (L)</label>
                            <span class="form-control" id="batch_size" ng-bind="recipe.BATCH_SIZE"/>
                        </div>
                        <div class="col-lg-2">
                            <label for="OG">OG</label>
                            <span class="form-control" id="OG" ng-bind="recipe.OG" />
                        </div>
                        <div class="col-lg-2">
                            <label for="ibu">IBU</label>
                            <span class="form-control" id="ibu" ng-bind="recipe.CALCIBU" />
                        </div>
                        <div class="col-lg-2">
                            <label for="balance">Balance</label>
                            <span class="form-control" id="balance" ng-bind="recipe.BV" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="style">Style</label>
                            <span class="form-control" id="style" ng-bind="recipe.STYLE.NAME" />
                        </div>
                        <div class="col-lg-2">
                            <label for="EFFICIENCY">Eficiencia</label>
                            <span class="form-control" id="EFFICIENCY" ng-bind="recipe.EFFICIENCY" />
                        </div>
                        <div class="col-lg-2">
                            <label for="fg">FG</label>
                            <span class="form-control" id="fg" ng-bind="recipe.FG" />
                        </div>
                        <div class="col-lg-2">
                            <label for="bugu">BU/GU</label>
                            <span class="form-control" id="bugu" >{{calulateBUGU(recipe.CALCIBU,recipe.OG)|number:2}}</span>
                        </div>
                        <div class="col-lg-2">
                            <label for="abv">Alcohol (ABV) %</label>
                            <span class="form-control" id="abv" ng-bind="recipe.ABV" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Granos</strong></div>
                <div style="margin: 0 2em;" class="alert alert-info" ng-hide="recipe.FERMENTABLES.FERMENTABLE.length != 0">
                    No tiene ningun fermentable en la receta
                </div>
                <table class="table table-condensed table-hover" ng-show="recipe.FERMENTABLES.FERMENTABLE.length != 0">
                    <thead>
                    <tr>
                        <th style="width:50%">Grano/Fermentable</th>
                        <th style="width:10%">Extracto</th>
                        <th style="width:10%">Color</th>
                        <th style="width:10%">%</th>
                        <th style="width:10%">Kg</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fermentable in recipe.FERMENTABLES.FERMENTABLE">
                        <td><span ng-bind="fermentable.NAME"/></td>
                        <td><span ng-bind="fermentable.POTENTIAL" /></td>
                        <td><span ng-bind="fermentable.COLOR" /></td>
                        <td><span ng-bind="fermentable.PERCENTAGE"/></td></td>
                        <td><span ng-bind="fermentable.AMOUNT"/></td></td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong class="pull-right">Total:</strong></td>
                        <td>{{recipe.totalAmount | number:3}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-body">
                    <strong>Color:</strong> {{recipe.CALCCOLOUR | number:1}} SRM
                    <div style="border: 1px solid; width: 100px; height: 30px; background-color: {{convertColor(recipe.CALCCOLOUR)}}"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Lupulos</strong></div>
                <div style="margin: 2em 2em 0;" class="alert alert-info" ng-hide="recipe.HOPS.HOP.length != 0">
                    No tiene ningun lupulo en la receta
                </div>
                <table class="table table-condensed table-hover" ng-show="recipe.HOPS.HOP.length != 0">
                    <thead>
                    <tr>
                        <th style="width:26%">Lupulo</th>
                        <th style="width:8%">Alpha</th>
                        <th style="width:12%">Modo</th>
                        <th style="width:10%">Kg</th>
                        <th style="width:8%">g/L</th>
                        <th style="width:8%">%</th>
                        <th style="width:12%">Uso</th>
                        <th style="width:8%">Tiempo</th>
                        <th style="width:6%">IBU</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="hop in recipe.HOPS.HOP">
                        <td><span ng-bind="hop.NAME"/></td>
                        <td><span ng-bind="hop.ALPHA"/></td>
                        <td><span ng-bind="hop.FORM"/></td>
                        <td><span ng-bind="hop.AMOUNT"/></td>
                        <td><span>{{hopGramsPerLiter(hop,recipe.BATCH_SIZE)|number:2}}</span></td>
                        <td><span>{{hopPercentage(hop,recipe.totalHop)|number:2}}</span></td>
                        <td><span ng-bind="hop.USE" /></td>
                        <td><span ng-bind="hop.TIME" /></td>
                        <td><span>{{hopIBU(hop)|number:2}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong class="pull-right">Total:</strong></td>
                        <td>{{recipe.totalHop | number:3}}</td>
                        <td colspan="4"><strong class="pull-right">IBUs:</strong></td>
                        <td>{{recipe.CALCIBU|number:2}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-body">
                    <button type="button" class="btn btn-default pull-right" ng-click="addHop()">Agregar</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Levadura</div>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th style="width:90%">Levadura</th>
                        <th style="width:10%">Atenuacion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="yeast in recipe.YEASTS.YEAST">
                        <td><span ng-bind="yeast.NAME"/></td>
                        <td><span ng-bind="yeast.ATTENUATION"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </body>
  
</html>