<div class="panel panel-default">
    <div class="panel-body" >
        <div class="col-md-5" >
            <div class="input-group" style="width: 100%">
                <input type="text"  class="form-control input-sm" ng-model="searchCriteria" placeholder="(Busqueda)" />
                <span class="input-group-btn">
                    <button ng-init="searchCriteria=''" ng-hide="searchCriteria==''"  ng-click="searchCriteria=''" class="btn btn-default btn-sm" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-5" style="padding-top: 5px;">
            <span ng-hide="searchCriteria==''" >
                <ng-pluralize count="(rows | filter:searchCriteria).length"
                              when="{'0':'No se ha encontrado ningun resultado con su busqueda','one': '1 ' +config().singular+ ' encontrada','other':'{} '+config().name+' encontradas'}"></ng-pluralize>
            </span>
        </div>
        <div class="col-md-2" >
            <a ng-show="searchCriteria=='' && canAdd" ng-click="addNew()" href="" type="button" class="btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-plus"></span> nuevo
            </a>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-click="sort.resort(header.field)"
                    class="gt-sorted"
                    ng-repeat="header in config().headers"
                    ng-style="{width: header.width}">
                    {{header.caption}} <span ng-class="sort.orderStyle[header.field]"></span>
                </th>
                <th style="width: 1em"></th>
                <th style="width: 1em"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-init="value=copy(row)" ng-repeat="row in rows | orderBy:sort.orderBy() | filter:searchCriteria | pageFilter:page:pageSize() ">
                <td ng-repeat="header in config().headers">
                    <ng-include src="valueTemplate(row,header)"></ng-include>
                </td>
                <!-- BUTTONS -->
                <td>
                    <a ng-show="!isEditing(row) && canEdit" ng-click="edit(row)" href="" type="button" class="btn btn-primary btn-xs">editar</a>
                    <a ng-show="isEditing(row)" ng-click="save(value,row)" href="" type="button" class="btn btn-success btn-xs">guardar</a>
                </td>
                <td>
                    <a ng-show="!isEditing(row) && canRemove" ng-click="remove(row)" href="" type="button" class="btn btn-danger btn-xs">eliminar</a>
                    <a ng-show="isEditing(row)" ng-click="cancel(row,value)" href="" type="button" class="btn btn-warning btn-xs">cancelar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <!--<pager total-items="(rows | filter:searchCriteria).length" page="page" items-per-page="pageSize()"></pager>-->
        <pagination boundary-links="true" total-items="(rows | filter:searchCriteria).length" items-per-page="pageSize()" page="page" max-size="20" class="pagination-small"></pagination>
        <pre>Pagina: {{page}} / {{getPageCount((rows | filter:searchCriteria).length)}}
Items: {{(rows | filter:searchCriteria).length}}</pre>
    </div>
    <div class="panel-body">
        <div class="col-md-12" >
            <a ng-show="searchCriteria=='' && canAdd" ng-click="rows.push({_draft:true})" href="" type="button" class="btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-plus"></span> nuevo
            </a>
        </div>
    </div>    
</div>