<div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Empaste</strong></div>
            <div class="panel-body" >
                <div class="row">
                    <div class="col-lg-2">
                        <label for="batch_size">Batch</label>
                        <span class="form-control input-sm gt-calculated" id="batch_size" >
                            {{recipe.BATCH_SIZE}} Lts
                        </span>
                    </div>
                    <div class="col-lg-2">
                      <label for="OG">OG</label>
                      <span class="form-control input-sm gt-calculated" id="OG" ng-bind="recipe.OG" />
                    </div>
                    <div class="col-lg-2">
                        <label for="totalWater">Agua total</label>
                        <span class="form-control input-sm gt-calculated" id="totalWater"
                              ng-bind="round1(calculateBoilSize(recipe.BATCH_SIZE, recipe.TrubChillerLosses, recipe.BOIL_TIME, recipe.PercentEvap, recipe.TopUpWater)+recipe.SpargeDeadSpace+(recipe.GrainAbsorbtion*recipe.totalAmount)) + ' Lts'" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="totalGrain">Total Granos</label>
                        <span class="form-control input-sm gt-calculated" id="totalGrain">
                            {{recipe.totalAmount|number:3}} Kg
                        </span>
                    </div>
                    <div class="col-lg-2">
                        <label for="grainTemp">Temp granos (Cº)</label>
                        <span class="form-control input-sm" id="grainTemp" ng-bind="recipe.GrainTemp" />
                    </div>
                    <div class="col-lg-2">
                        <label for="strikeWater">Agua inicial (L)</label>
                        <span class="form-control input-sm" id="strikeWater" ng-bind="recipe.StrikeWater" />
                    </div>
                    <div class="col-lg-2">
                        <label for="watertoGrainRatio">Empaste (L/Kg)</label>
                        <span class="form-control input-sm" id="watertoGrainRatio" ng-bind="recipe.WatertoGrainRatio" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="initMashTemp">T. Macerado</label>
                        <span class="form-control input-sm" id="initMashTemp" ng-bind="recipe.mashTemp" />
                    </div>
                    <div class="col-lg-2">
                        <label for="tempStrikeWater">T. Agua Inicial</label>
                        <span class="form-control input-sm gt-calculated" id="tempStrikeWater"  >
                            {{((recipe.mashTemp-recipe.GrainTemp)*0.417/recipe.WatertoGrainRatio+recipe.mashTemp+recipe.lossMashTemp)|number:0}} ºC
                        </span>
                    </div>
                    <div class="col-lg-2">
                        <label for="lossMashTemp" title="Temperatura q pierden los granos luego de ser mezclados">Perdida (ºC)</label>
                        <span class="form-control input-sm gt-preset" id="lossMashTemp" ng-bind="recipe.lossMashTemp" />
                    </div>
                    <div class="col-lg-2">
                        <label for="mashVolume">Volumen Total</label>
                        <span class="form-control input-sm gt-calculated" id="mashVolume" title="Valor Aproximado que ocupa la malta mas el agua en el macerador">
                            {{recipe.StrikeWater+recipe.totalAmount|number:1}} Lts
                        </span>
                    </div>
                </div>
            </div>
            <!--<div class="panel-heading"><strong>Escalones</strong></div>-->
            <!--<div class="panel-body" >-->
            <!--    <ul class="list-group">-->
            <!--        <li class="list-group-item">Mash-in</li>-->
            <!--        <li class="list-group-item">Mash-out</li>-->
            <!--    </ul>-->
            <!--</div>-->
            <div class="panel-heading"><strong>Lavado</strong></div>
            <div class="panel-body" >
                <div class="row">
                    <div class="col-lg-2">
                        <label for="spargeTempDesired">Temperatura</label>
                        <span class="form-control input-sm" id="spargeTempDesired" ng-bind="recipe.SpargeTempDesired" />
                    </div>
                    <div class="col-lg-2">
                        <label for="spargeWater">Cantidad Agua</label>
                        <span class="form-control input-sm gt-calculated" id="spargeWater"
                              ng-bind="round1(calculateBoilSize(recipe.BATCH_SIZE, recipe.TrubChillerLosses, recipe.BOIL_TIME, recipe.PercentEvap, recipe.TopUpWater)-recipe.StrikeWater-recipe.TopUpWater+recipe.SpargeDeadSpace+(recipe.GrainAbsorbtion*recipe.totalAmount)) + ' Lts'" />
                    </div>
                    <div class="col-lg-2">
                        <label title="Litros perdidos en el lavado (por ejemplo debajo del FF)" for="spargeDeadSpace">Espacio Muerto</label>
                        <span class="form-control input-sm gt-preset" id="spargeDeadSpace" ng-bind="recipe.SpargeDeadSpace" />
                    </div>
                    <div class="col-lg-2">
                        <label title="Litros de agua que quedan en el bagazo por cada Kg de malta" for="grainAbsorbtion">Absorcion (L/Kg)</label>
                        <span class="form-control input-sm gt-preset" id="grainAbsorbtion" ng-bind="recipe.GrainAbsorbtion" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <ng-include src="'partial/recipe-detail-indicators.html'"></ng-include>
        <ng-include src="'partial/recipe-detail-social.html'"></ng-include>
    </div>
</div>