<!DOCTYPE html>
<div id="LoginController" ng-controller="LoginController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/#/recipe">
          Brew-o-Matic <button ng-show="env" title="Version {{version}}" class="btn btn-xs btn-{{color}}">{{env}}</button>
        </a>
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
            <ul class="nav navbar-nav" ng-show="user">
                <li class="dropdown">
                    <a  href="" class="dropdown-toggle" data-toggle="dropdown"><span>Configuracion</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/#/settings">Datos</a>
                        </li>
                        <li>
                            <a href="/#/settings/water">Agua</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a  href="" class="dropdown-toggle" data-toggle="dropdown"><span>Herramientas</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/#/calculator">Calculadora</a>
                            <a href="" ng-click="openCalcPopup()">Calculadora Pop</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/#/notification">Notificaciones 
                        <span  title="{{notificationCount}} sin leer" class="badge" ng-class="notificationClass">{{notificationCount}}</span>
                    </a>
                </li>
                <li ng-show="user.isAdmin">
                    <a href="/#/admin/Recipe">Admin</a>
                </li>
                <li ng-show="user.isAdmin">
                    <a href="/#/data/Bottle">Datos</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="user">
                <li >
                  <button class="btn btn-danger" style="margin-top: 0.5em" id="signinButton" ng-hide="user" ng-click="googleSignIn()">
                      Google Sign-In
                  </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li class="dropdown">
                    <a  href="" class="dropdown-toggle" data-toggle="dropdown"><span>{{user.name}}</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://docs.google.com/document/d/1lH9tL2bq6RDdG1ljv8Bg62HCdAb5yvbpGzec09ahi2M/edit" target="_blank">Ayuda V. {{version}}</a></li>
                    </ul>
                </li>
            </ul>
           
        </div>
      </div>
    </nav>
    <div class="alert alert-danger alert-dismissable" ng-show="loginError">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Login Error</strong> {{loginError}}
    </div>
</div>
