<!DOCTYPE html>
<div id="LoginController" ng-controller="LoginController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="#">
          Brew-o-Matic <button class="btn btn-xs btn-danger">beta</button>
        </a>
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
          <ul class="nav navbar-nav navbar-right" ng-show="user">
              <li class="dropdown">
                  <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{user.name}}</span> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a ng-click="disconnectUser()">Desconectar</a></li>
                  </ul>
              </li>
          </ul>
          <span id="signinButton" class="navbar-form navbar-right" ng-hide="user">
            <span
              class="g-signin"
              data-callback="signinCallback"
              data-clientid="819410194566.apps.googleusercontent.com"
              data-cookiepolicy="single_host_origin"
              data-requestvisibleactions="http://schemas.google.com/AddActivity"
              data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
            </span>
          </span>
        </div>
      </div>
    </nav>
    <div class="alert alert-danger alert-dismissable" ng-show="loginError">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Login Error</strong> {{loginError}}
    </div>
</div>
