<div class="jumbotron" >
    <div class="container">    
        <h1>Bienvenido!</h1>
        <p>Para poder comenzar a crear recetas debes primero loguearte, para esto necesitas una cuenta de Google/Gmail/Google+ (pronto mas opciones).</p>
        <p>Si ya tienes una cuenta solo tienes que hacer click en el boton "Sing in" que esta en la barra superior</p>
        <p>Si no tienes una cuenta puedes crearla desde <a target="_blank" href="https://accounts.google.com/SignUp?service=mail">aqui</a></p>
    </div>
</div>