<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="col-lg-2">
              <label for="batch_size">Batch (L)</label>
              <input type="number" class="form-control" id="batch_size" value="20">
            </div>
            <div class="col-lg-2">
              <label for="og">OG</label>
              <input type="number" class="form-control" id="og" value="1.050">
            </div>
            <div class="col-lg-2">
              <label for="ibus">IBU</label>
              <input type="number" class="form-control" id="ibu" readonly="true">
            </div>
            <div class="col-lg-2">
              <label for="balance">Balance</label>
              <input type="number" class="form-control" id="balance" readonly="true">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="style">Style</label>
                <input type="text" class="form-control" id="style" placeholder="Estilo">
            </div>
            <div class="col-lg-2">
              <label for="eficiency">Eficiencia</label>
              <input type="number" class="form-control" id="eficiency" value="70">
            </div>
            <div class="col-lg-2">
              <label for="fg">FG</label>
              <input type="number" class="form-control" id="fg" readonly="true">
            </div>
            <div class="col-lg-2">
              <label for="bugu">BU/GU</label>
              <input type="number" class="form-control" id="bugu" readonly="true">
            </div>
            <div class="col-lg-2">
              <label for="abv">Alcohol (ABV) %</label>
              <input type="number" class="form-control" id="abv" readonly="true">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Granos</div>
    <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th style="width:40%">Grano/Fermentable</th>
              <th style="width:10%">Extracto</th>
              <th style="width:10%">Color</th>
              <th style="width:10%">%</th>
              <th style="width:10%">Kg</th>
              <th style="width:20%">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><input class="form-control input-sm" type="text" value="Pale"/></td>
                <td><input class="form-control input-sm" type="number" value="1.037"/></td>
                <td><input class="form-control input-sm" type="number" value="3"/></td>
                <td><input class="form-control input-sm" type="number" value="80"/></td></td>
                <td><input class="form-control input-sm" type="number" value="4"/></td></td>
                <td>
                    <button class="btn btn-primary btn-xs">Editar</button>
                    <button class="btn btn-danger btn-xs">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td><input class="form-control input-sm" type="text" value="Cara 60"/></td>
                <td><input class="form-control input-sm" type="number" value="1.032"/></td>
                <td><input class="form-control input-sm" type="number" value="60"/></td>
                <td><input class="form-control input-sm" type="number" value="20"/></td></td>
                <td><input class="form-control input-sm" type="number" value="1"/></td></td>
                <td>
                    <button class="btn btn-primary btn-xs">Editar</button>
                    <button class="btn btn-danger btn-xs">Eliminar</button>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Lupulos</div>
    <div class="panel-body">
        
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Otros</div>
    <div class="panel-body">
        
    </div>
</div>
<div class="pull-right">
    <button type="button" class="btn btn-default">Cancelar</button>
    <button type="button" class="btn btn-primary">Guardar</button>
</div>