<div class="panel panel-default">
    <div class="panel-heading"><strong>Granos</strong></div>
    <!--<div class="panel-body">-->
        <!--<div class="form-inline pull-right" role="form">-->
            <!--<strong>Modo:</strong>-->
            <!--<label class="radio-inline">-->
            <!--    <input type="radio"-->
            <!--            ng-model="recipe.GrainCalcMethod"-->
            <!--            name="GrainCalcMethod"-->
            <!--            value="0" disabled> %-->
            <!--</label>-->
            <!--<label class="radio-inline">-->
            <!--    <input type="radio"-->
            <!--            ng-model="recipe.GrainCalcMethod"-->
            <!--            name="GrainCalcMethod"-->
            <!--            value="2" disabled> Kg-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->
    <div style="margin: 2em 2em 0;" class="alert alert-info" ng-hide="recipe.FERMENTABLES.FERMENTABLE.length != 0">
        Aun no tiene ningun fermentable en la receta
    </div>
    <table class="table table-condensed table-hover" ng-show="recipe.FERMENTABLES.FERMENTABLE.length != 0" style="margin-top: 1em;">
      <thead>
        <tr>
          <th style="width:50%">Grano/Fermentable</th>
          <th style="width:10%">Extracto</th>
          <th style="width:10%">Color</th>
          <th style="width:10%">%</th>
          <th style="width:10%">Kg</th>
          <th style="width:2%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="fermentable in recipe.FERMENTABLES.FERMENTABLE">
            <!--<td><input class="form-control input-sm" type="text" ng-model="fermentable.NAME"/></td>-->
            <td>
                <input ng-change="changeGrain(fermentable)" class="form-control input-sm" type="text" ng-model="fermentable.NAME" list="grainNames" placeholder="Buscar Fermentables"/>
                <datalist id="grainNames">
                    <option ng-repeat="grain in grains" value="{{grain.name}}">
                        {{grain.name}}
                    </option>
                </datalist>
            </td>
            <td><input ng-change="changeAmount()" class="form-control input-sm" type="number" step="0.001" ng-model="fermentable.POTENTIAL" placeholder="PPG" /></td>
            <td><input ng-change="changeAmount()" class="form-control input-sm" type="number" step="0.1" ng-model="fermentable.COLOR" placeholder="SRM"/></td>
            <td><input ng-disabled="recipe.GrainCalcMethod==2" class="form-control input-sm" type="number" step="0.01" ng-model="fermentable.PERCENTAGE"/></td></td>
            <td><input ng-change="changeAmount()" ng-disabled="recipe.GrainCalcMethod==0" class="form-control input-sm" type="number" step="0.1" ng-model="fermentable.AMOUNT" placeholder="Kg"/></td></td>
            <td>
                <button type="button" class="close" aria-hidden="true" ng-click="removeFermentable(fermentable)">&times;</button>
            </td>
        </tr>
        <tr>
            <td colspan="4"><strong class="pull-right">Total:</strong></td>
            <td>{{recipe.totalAmount | number:3}}</td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body">
        <button type="button" class="btn btn-default pull-right" ng-click="addFermentable()">Agregar</button>
    </div>
</div>