<div>
    <div class="panel panel-default" ng-show="recipes.length!=0">
        <div class="panel-heading"><strong>Mis Recetas</strong></div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Nombre</th>
              <th>Estilo</th>
              <th>DI</th>
              <th>DF</th>
              <th>%Alc</th>
              <th>IBUs</th>
              <th>Autor</th>
              <th>Batch (L)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="recipe in recipes">
                <td><a href="#/recipe/edit/{{encodeName(recipe._id)}}">#{{ $index+1 }}</a></td>
                <td>{{ recipe.date|date:'dd-MM-yyyy' }}</td>
                <td>{{ recipe.NAME }}</td>
                <td>{{ recipe.STYLE.NAME }}</td>
                <td>{{ recipe.OG  }}</td>
                <td>{{ recipe.FG  }}</td>
                <td>{{ recipe.ABV  }}</td>
                <td>{{ recipe.CALCIBU }}</td>
                <td>{{ recipe.BREWER }}</td>
                <td>{{ recipe.BATCH_SIZE }}</td>
                <td>
                    <a href="#/recipe/edit/{{encodeName(recipe._id)}}" type="button" class="btn btn-primary btn-xs">editar</a>
                    <button type="button" class="close" aria-hidden="true" ng-click="removeRecipe(recipe._id)">&times;</button>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="panel-body">
            <a type="button" class="btn btn-default pull-right" href="#/recipe/new">Nueva receta</a>
        </div>
    </div>
    <div class="panel panel-default" ng-hide="recipes.length!=0">
        <div class="panel-heading"><strong>Mis Recetas</strong></div>
        <div class="panel-body">
          <div class="alert alert-info">Aun no tiene recetas creadas</div>
          <a type="button" class="btn btn-default" href="#/recipe/new">Nueva receta</a>
        </div>
    </div>
</div>
  