<div ng-controller="TiltCtrl">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>TILT Integration</strong>
            </div>
            <div class="panel-body" >
                <button ng-click="refreshTiltData()" type="button"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></button>
                <progressbar style="margin-top: 1em" value="(((1-(recipe.tiltValues[recipe.tiltValues.length-1].sg*1000-1000)/(recipe.OG*1000-1000))*100)/recipe.YEASTS.YEAST[0].ATTENUATION)*100">
                    {{(((1-(recipe.tiltValues[recipe.tiltValues.length-1].sg*1000-1000)/(recipe.OG*1000-1000))*100)/recipe.YEASTS.YEAST[0].ATTENUATION)*100|number:0}}%
                </progressbar>
                <div style="height: 407px; overflow-y: auto; overflow-x: hidden; margin-top: 1em">
                    <table class="table table-hover table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Fecha y Hora</th>
                                <th>Temperatura</th>
                                <th>Densidad</th>
                                <th>Atenuacion</th>
                                <th>% Alc</th>
                                <th>Esperada</th>
                                <th>Faltante</th>
                                <th>Tiempo</th>
                                <!--<th style="width: 24px"></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in recipe.tiltValues | orderBy:'-date'">
                                <td>{{value.date|date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{value.temp|number:2}}</td>
                                <td>{{value.sg|number:3}}</td>
                                <td>{{(1-(value.sg*1000-1000)/(recipe.OG*1000-1000))*100|number:0}}%</td>
                                <td>{{calculateAlc(value.sg)|number:2}}%</td>
                                <td>{{recipe.FG}} ({{recipe.YEASTS.YEAST[0].ATTENUATION}}%) </td>
                                <td>{{recipe.YEASTS.YEAST[0].ATTENUATION-((1-(value.sg*1000-1000)/(recipe.OG*1000-1000))*100|number:0)}}% </td>
                                <td>{{calculateTime(value)}}</td>
                                <!--<td>
                                    <button type="button" ng-click="removeTiltValue($index)" class="close">&times;</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <canvas id="line" class="chart chart-line" style="margin-top: 1em"
                    chart-data="chartData" 
                    chart-labels="chartLabels" 
                    chart-series="chartSeries"
                    chart-options="chartOptions"
                    chart-dataset-override="datasetOverride" >
                </canvas>
                <!--<div google-chart chart="chartTilt" ng-style="chartTilt.cssStyle"></div>-->
                <p>
                    Cloud URL (valor a pegar en la configuracion del TILT): 
                    <span class="form-control">http://brew-o-matic.com.ar/tilt/{{recipe._id}}</span>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>TILT Integration (Via Google Docs)</strong>
            </div>
            <div class="panel-body" >
                <div class="col-md-2">
                    <strong>Chart URL:</strong>
                </div>
                <div class="col-md-10">
                    <input ng-change="updateTilt()" type="text" class="input form-control" ng-model="recipe.tilt"/>
                </div>
                <button ng-click="refreshTilt()" type="button"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></button>
            </div>
            <iframe src="{{tiltURL}}" width="100%" height="500" id="titlIFrame" scrolling="no" frameborder="0"></iframe>
        </div>
        <div style="overflow: hidden;margin-bottom: 1em;">
            <div class="pull-left">
                <a href="#/recipe/" type="button" class="btn btn-link glyphicon glyphicon-chevron-left"> Volver al listado</a>
            </div>
            <div class="pull-right">
                <a href="#/recipe/" type="button" class="btn btn-default">Cancelar</a>
                <button ng-click="save()" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <div ng-repeat="notification in notifications">
            <div class="alert alert-{{notification.type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{notification.title}}</strong>
                {{notification.text}}
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <ng-include src="'partial/recipe-detail-indicators.html'"></ng-include>
        <ng-include src="'partial/recipe-detail-social.html'"></ng-include>
    </div>
</div>
