<ul class="nav nav-tabs" style="margin-bottom: -0.1em;">
    <li>
        <a href="/#/recipe">Mis recetas ({{stats.owns}})</a>
    </li>
    <li class="active">
        <a><b>Colaboraciones</b></a>
    </li>
    <li>
        <a href="/#/favorites">Favoritas ({{user.favorites.length}})</a>
    </li>
    <li>
        <a href="/#/public">Publicadas ({{stats.publics}})</a>
    </li>
</ul>
<div class="panel panel-default" ng-show="recipes.length!=0" ng-cloak>
    <div class="panel-body" >
        <div class="col-md-5" >
            <div class="input-group" style="width: 100%">
                <input type="text"  class="form-control input-sm" ng-model="searchCriteria" placeholder="(Busqueda)" />
                <span class="input-group-btn">
                    <button ng-init="searchCriteria=''" ng-hide="searchCriteria==''"  ng-click="searchCriteria=''" class="btn btn-default btn-sm" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-5" style="padding-top: 5px;">
            <span ng-hide="searchCriteria==''" >
                <ng-pluralize count="(recipes | filter:searchCriteria).length"
                              when="{'0':'No se ha encontrado ningun resultado con su busqueda','one': '1 receta encontrada','other':'{} recetas encontradas'}"></ng-pluralize>
            </span>
        </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-click="sort.resort('NAME')" class="gt-sorted">
            Nombre <span ng-class="sort.orderStyle['NAME']"></span>
          </th>
          <th style="width:14em;" class="gt-sorted" ng-click="sort.resort('STYLE.NAME')">
            Estilo <span ng-class="sort.orderStyle['STYLE.NAME']"></span>
          </th>
          <th style="width:4em" class="gt-sorted" ng-click="sort.resort('OG')">
            DI <span ng-class="sort.orderStyle['OG']"></span>
          </th>
          <th style="width:5em" class="gt-sorted" ng-click="sort.resort('ABV')">
            %Alc <span ng-class="sort.orderStyle['ABV']"></span>
          </th>
          <th style="width:5em" class="gt-sorted" ng-click="sort.resort('CALCIBU')">
            IBUs <span ng-class="sort.orderStyle['CALCIBU']"></span>
          </th>
          <th style="width:7em" class="gt-sorted" ng-click="sort.resort('BATCH_SIZE')">
            Batch (L) <span ng-class="sort.orderStyle['BATCH_SIZE']"></span>
          </th>
          <th style="width:10em">Cervecero</th>
          <th style="width: 1em"></th>
          <th style="width: 1em"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="recipe in collaborated | filter:searchCriteria | orderBy:sort.orderBy()">
            <td title="{{recipe.NAME}}">
                <a href="#/recipe/edit/{{encodeName(recipe._id)}}">{{ recipe.NAME|limitText:100}}</a>
                <show-tags tags="recipe.tags"></show-tags>
            </td>
            <td>{{ recipe.STYLE.NAME }}</td>
            <td>{{ recipe.OG  }}</td>
            <td>{{ recipe.ABV  }}</td>
            <td>{{ recipe.CALCIBU }}</td>
            <td>{{ recipe.BATCH_SIZE }}</td>
            <td>{{ recipe.BREWER }}</td>
            <td>
                <a href="#/recipe/clone/{{encodeName(recipe._id)}}" type="button" class="btn btn-default btn-xs">clonar</a>
            </td>
            <td>
                <span class="glyphicon glyphicon-unchecked" ng-hide="recipe.isPublic"/>
                <span class="glyphicon glyphicon-check" title="Esta receta es publica, puede ser vista por todos los usuarios" ng-show="recipe.isPublic"/>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body">
        <div class="col-md-12" >
            <a type="button" class="btn btn-default pull-right" href="#/recipe/new">
                <span class="glyphicon glyphicon-plus"></span> Nueva receta
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-hide="recipes.length!=0" ng-cloak>
    <div class="panel-body">
      <div class="alert alert-info">
            Aun no tiene recetas creadas 
            <a href="#/recipe/new" class="alert-link">Crea tu primera receta desde aca!</a>
      </div>
      <a type="button" class="btn btn-default pull-right" href="#/recipe/new">
        <span class="glyphicon glyphicon-plus"></span> Nueva receta
      </a>
    </div>
</div>