<div ng-controller="BottlingCtrl">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Embotellado</strong>
            </div>
            <div class="panel-body" >
                <ul class="list-group">
                    <li class="list-group-item" style="overflow: hidden;">
                        <div class="col-md-2">
                            <strong>A embotellar:</strong>
                        </div>
                        <div class="col-md-10">
                            <span style="display: inline" class="form-control input-sm gt-calculated ">
                                {{estimateLiters(recipe.fermentation.stages.length)|number:2}} Ltrs
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item" style="overflow: hidden;">
                        <div class="col-md-2">
                            <strong>Embotellado:</strong>
                        </div>
                        <div class="col-md-10">
                            <span style="display: inline" class="form-control input-sm gt-calculated ">
                                {{bottledLiters()|number:2}} Ltrs
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item" style="overflow: hidden;">
                        <div class="col-md-2">
                            <strong>Restante:</strong>
                        </div>
                        <div class="col-md-10">
                            <span style="display: inline" ng-class="leftClass(estimateLiters(recipe.fermentation.stages.length)-bottledLiters())" class="form-control input-sm ">
                                {{estimateLiters(recipe.fermentation.stages.length)-bottledLiters()|number:2}} Ltrs
                            </span>
                            <span  ng-class="restClass" style="margin-left: 2em">
                                {{restComment}}
                            </span>
                        </div>
                    </li>
                </ul>


                <div class="alert alert-info" ng-hide="recipe.bottling.bottles.length!=0">
                    No ha cargado ninguna botella aun,
                    <a href="" ng-click="addBottle()" class="alert-link">Agrega una botella!</a>
                </div>
                <div ng-show="recipe.bottling.bottles.length!=0">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th style="width:3em">Color</th>
                                <th style="width:10em">Tamaño</th>
                                <th style="width:10em">Cantidad</th>
                                <th style="width:10em">Total</th>
                                <th style="width:10em">Carbonatacion</th>
                                <th style="width:3em"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bottle in recipe.bottling.bottles" class="animate-repeat">
                                <td>
                                    <input ng-change="changeBottleType(bottle)" class="form-control input-sm" type="text" ng-model="bottle.bottleType" placeholder="(Tipo: porron, medio, litro, corni)" list="bottleNames"/>
                                    <datalist id="bottleNames">
                                        <option ng-repeat="bottle in bottles" value="{{bottle.name}}">
                                            {{bottle.name}}
                                        </option>
                                    </datalist>
                                </td>
                                <td>
                                    <div ng-style="{'height': '28px','border':'1px solid','border-radius': '5px','background-color':getBottleColor(bottle.colour)}" >

                                    </div>
                                </td>
                                <td>
                                    <input ng-blur="bottle.subTotal=round2(bottle.size*bottle.amount);changeBottles()" ng-change="bottle.amount=round(bottle.subTotal/bottle.size)" class="form-control input-sm" type="number" step="0.001" ng-model="bottle.size" placeholder="(Tamaño)"/>
                                </td>
                                <td>
                                    <input ng-change="bottle.subTotal=round2(bottle.size*bottle.amount);changeBottles()" class="form-control input-sm" type="number" ng-model="bottle.amount" placeholder="(Cantidad)"/>
                                </td>
                                <td>
                                    <input ng-change="bottle.amount=round(bottle.subTotal/bottle.size);changeBottles()" class="form-control input-sm" type="number" ng-model="bottle.subTotal" placeholder="(Litros)" value="liters" />
                                </td>
                                <td>
                                    <select ng-change="changeBottles()" class="form-control input-sm" ng-model="bottle.carbonatationType">
                                        <option value="sugar">Azucar</option>
                                        <!--<option value="must">Mosto</option>-->
                                        <option value="co2">CO2</option>
                                    </select>
                                </td>
                                <td>
                                    <button ng-click="recipe.bottling.bottles.splice($index,1);changeBottles()"
                                            type="button"
                                            class="close" aria-hidden="true">&times;</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-click="addBottle()" class="btn btn-default pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Agregar Botella
                    </button>
                </div>
                <!-- CARBONATACION AZUCAR -->
                <div class="panel panel-default" style="margin-top: 5em" ng-show="volumeByCarbonatationType['sugar']>0">
                    <div class="panel-heading"><strong>Carbonatacion Natural (Azucar)</strong></div>
                    <div class="panel-body" >
                        <ul class="list-group">
                            <li class="list-group-item" style="overflow: hidden;">
                                <div class="col-md-3">
                                    <strong>Volumen: </strong>
                                </div>
                                <div class="col-md-2">
                                    <span class="form-control input-sm gt-calculated">
                                        {{volumeByCarbonatationType['sugar']|number:1}} Lts
                                    </span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <strong>Vol. de CO<sub>2</sub> residual:</strong>
                                </div>
                                <div class="col-md-2">
                                    <span class="form-control input-sm gt-calculated" ng-bind="restCO2|number:2"/>
                                </div>
                            </li>
                            <li class="list-group-item" style="overflow: hidden;">
                                <div class="col-md-3">
                                    <strong>Vol. de CO<sub>2</sub> deseados: </strong>
                                </div>
                                <div class="col-md-2">
                                    <input ng-change="changeBottles();" class="form-control input-sm" type="number" step="0.01" ng-model="recipe.bottling.sugar.desiredVol" placeholder="(Vol CO2)" />
                                </div>
                                <div class="col-md-1">
                                    <span ng-hide="disableObtainVolCO2" style="cursor: pointer;color:green" ng-click="recipe.bottling.sugar.desiredVol = obtainVolCO2Style();changeBottles();"  title="Usa el valor recomendado segun el estilo elegido." class="glyphicon glyphicon-certificate"></span>
                                    <span ng-show="disableObtainVolCO2" style="color:red" title="No se ha seleccionado un estilo de BJCP o el mismo no tiene valor asocaido. Imposible usar valor automatico" class="glyphicon glyphicon-certificate"></span>
                                </div>
                                <div class="col-md-3">
                                    <strong title="Es la temperatura maxima a la que ha fermentado la cerveza">
                                        Temperatura:
                                    </strong>
                                </div>
                                <div class="col-md-2">
                                    <input ng-change="changeBottles();" class="form-control input-sm" type="number" step="0" ng-model="recipe.bottling.sugar.temperature" placeholder="(Temp)" />
                                </div>
                                <div class="col-md-1">
                                    <a ng-click="obtainMaxFermTemp('sugar')" href="" title="Obtiene la maxima temperatura del plan de fermentacion">
                                        Obtener
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item" style="overflow: hidden;">
                                <div class="col-md-3">
                                    <strong>Tipo de Azucar:</strong>
                                </div>
                                <div class="col-md-2">
                                    <select ng-change="changeBottles()" class="form-control input-sm" ng-model="recipe.bottling.sugar.sugarType">
                                        <option value="cane">Caña</option>
                                        <option value="corn">Maiz</option>
                                        <option value="honey">Miel</option>
                                    </select>
                                </div>
                            </li>
                            <li class="list-group-item" style="overflow: hidden;">
                                <div class="col-md-3">
                                    <strong>g/L:</strong>
                                </div>
                                <div class="col-md-2">
                                    <span class="form-control input-sm gt-calculated" ng-bind="gramsLiter"/>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <strong>Azucar Total:</strong>
                                </div>
                                <div class="col-md-2">
                                    <span class="form-control input-sm gt-calculated" >
                                        {{gramsLiter*volumeByCarbonatationType['sugar']|number:0}}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Carbonatacion con CO2 -->

                <div class="panel panel-default" style="margin-top: 5em" ng-show="volumeByCarbonatationType['co2']>0">
                    <div class="panel-heading"><strong>Carbonatacion Artificial (CO<sub>2</sub>)</strong></div>
                    <div class="panel-body" >
                        <ul class="list-group">
                            <li class="list-group-item" style="overflow: hidden;">
                                <div class="col-md-3">
                                    <strong>Volumen: </strong>
                                </div>
                                <div class="col-md-2">
                                    <span class="form-control input-sm gt-calculated">
                                        {{volumeByCarbonatationType['co2']|number:1}} Lts
                                    </span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <strong title="Es la temperatura en la que se esta haciendo el proceso de carbonatacion">
                                        Temperatura:
                                    </strong>
                                </div>
                                <div class="col-md-2">
                                    <input ng-change="" class="form-control input-sm" type="number" step="0" ng-model="recipe.bottling.co2.temperature" placeholder="(Temp)" />
                                </div>
                            </li>
                            <li class="list-group-item" style="overflow: hidden;">
                                <div class="col-md-3">
                                    <strong>Vol. de CO<sub>2</sub> deseados: </strong>
                                </div>
                                <div class="col-md-2">
                                    <input ng-change="changeBottles();" class="form-control input-sm" type="number" step="0.01" ng-model="recipe.bottling.co2.desiredVol" placeholder="(Vol CO2)" />
                                </div>
                                <div class="col-md-1">
                                    <span ng-hide="disableObtainVolCO2" style="cursor: pointer;color:green" ng-click="recipe.bottling.co2.desiredVol = obtainVolCO2Style();changeBottles();"  title="Usa el valor recomendado segun el estilo elegido." class="glyphicon glyphicon-certificate"></span>
                                    <span ng-show="disableObtainVolCO2" style="color:red" title="No se ha seleccionado un estilo de BJCP o el mismo no tiene valor asocaido. Imposible usar valor automatico" class="glyphicon glyphicon-certificate"></span>
                                </div>
                                <div class="col-md-2">
                                    <strong>Presion:</strong>
                                </div>
                                <div class="col-md-4">
                                    <span class="form-control input-sm gt-calculated" >
                                        {{ presureInPsi(recipe.bottling.co2.desiredVol,recipe.bottling.co2.temperature) }} psi / {{ presureInBar }} bar / {{ presureKgCm2 }} Kg/cm<sup>2</sup>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="panel-body" >
                     <div google-chart chart="chart" ng-style="chart.cssStyle"></div>
                </div>-->
            </div>
        </div>
        <div style="overflow: hidden;margin-bottom: 1em;">
            <div class="pull-left">
                <a href="#/recipe/" type="button" class="btn btn-link glyphicon glyphicon-chevron-left"> Volver al listado</a>
            </div>
            <div class="pull-right">
                <a href="#/recipe/" type="button" class="btn btn-default">Cancelar</a>
                <button ng-click="save()" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <div ng-repeat="notification in notifications">
            <div class="alert alert-{{notification.type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{notification.title}}</strong>
                {{notification.text}}
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <ng-include src="'partial/recipe-detail-indicators.html'"></ng-include>
        <ng-include src="'partial/recipe-detail-social.html'"></ng-include>
    </div>
</div>
