<div class="panel panel-default">
    <div class="panel-heading"><strong>Otros datos</strong></div>
    <div class="panel-body" >
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <label for="brewer">Cervecero</label>
                <input type="text" class="form-control input-sm" id="brewer" placeholder="Cervecero" ng-model="recipe.BREWER">
            </div>
            <div class="col-lg-2 col-xs-4">
                <label for="boil_size">Litros a Hervir (L)</label>
                <span class="form-control input-sm gt-calculated" id="beforeBoil" ng-bind="round1(BrewCalc.calculateBoilSize(recipe.BATCH_SIZE, recipe.TrubChillerLosses, recipe.BOIL_TIME, recipe.PercentEvap, recipe.TopUpWater)) + ' Lts'" />
            </div>
            <div class="col-lg-2 col-xs-4">
              <label for="boil_time">Hervido (min)</label>
              <input type="number" class="form-control input-sm" id="boil_time" ng-model="recipe.BOIL_TIME">
            </div>
            <div class="col-lg-2 col-xs-4">
              <label for="code">Codigo</label>
              <input type="text" class="form-control input-sm" id="code" ng-model="recipe.code"/>
            </div>
        </div>
        <div class="row" ng-show="recipe._id">
            <div class="col-lg-12">
                <label for="link_ro">Link de solo lectura <a target="_blank" href="{{sharedUrl(recipe._id)}}"><span class="glyphicon glyphicon-link"></span></a></label>
                <input class="form-control input-sm gt-calculated" value="{{sharedUrl(recipe._id)}}" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="recipe.isPublic"/>
                        Publicar Receta <span class="text-info">(Las recetas publicas podran ser vistas por todos los usuarios en su panel principal)</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="tags">Tags</label>
                <div style="display:inline-table;" class="form-control">
                    <show-tags removable="true" tags="recipe.tags"></show-tags>
                    <input placeholder="Ingrese tag" ng-model="recipe.newTag" type="text" style="margin-top: 5px;width: 200px" class="gt-tagbox" ng-keydown="addTag($event)" list="tags"/>
                    <datalist id="tags">
                        <option ng-repeat="tag in tags" value="{{tag._id}}">
                            {{tag._id}}
                        </option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
</div>
