<ul class="nav nav-tabs" style="margin-bottom: -0.1em;">
    <li>
        <a href="/#/recipe">Mis recetas ({{stats.owns}})</a>
    </li>
    <li>
        <a href="/#/favorites">Favoritas ({{user.favorites.length}})</a>
    </li>
    <li class="active">
        <a><b>Publicadas ({{stats.publics}})</b></a>
    </li>
</ul>
<div ng-cloak>
    <div class="panel panel-default" ng-show="published.length!=0">
        <div class="panel-body" >
            <div class="col-md-4" >
                <div class="input-group" style="width: 100%">
                    <input type="text"  class="form-control input-sm" ng-model="searchCriteria" placeholder="(Busqueda)" >
                    <span class="input-group-btn">
                        <button ng-init="searchCriteria=''" ng-hide="searchCriteria==''" ng-click="searchCriteria=''" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 5px;">
                <ng-pluralize count="(published | filter:searchCriteria | advanced:filterData ).length"
                        when="{'0':'No se ha encontrado ningun resultado con su busqueda','one': '1 receta encontrada','other':'{} recetas encontradas'}"></ng-pluralize>
            </div>
            <div class="col-md-2">
                <button ng-click="showAd=!showAd;reset()" type="button" class="pull-right btn btn-default btn-xs">avanzada</button>
            </div>
        </div>
        <div class="panel panel-default" ng-show="showAd" style="margin: 0 1em">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="filter.name">Nombre</label>
                        <div class="input-group" style="width: 100%">
                            <input type="text" class="form-control input-sm" id="filter.name" placeholder="Nombre" ng-model="filterData['NAME'].value">
                            <span class="input-group-btn">
                                <button ng-hide="filterData['NAME'].value==null" ng-click="filterData['NAME'].value=null" class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="filter.style">Estilo</label>
                        <div class="input-group">
                            <select class="form-control input-sm" id="filter.style" ng-model="filterData['STYLE.NAME'].value">
                                <option ng-repeat="style in styles">{{style.name}}</option>
                            </select>
                            <span class="input-group-btn">
                                <button ng-click="filterData['STYLE.NAME'].value=''" class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="tags">Tags</label>
                        <div style="display:inline-table;height: 0; padding-top: 3px;padding-top: 3px;margin-bottom: 0; margin-top: 0" class="form-control">
                            <show-tags removable="true" tags="filterData['tags'].value"></show-tags>
                            <input placeholder="Ingrese tag" ng-model="newTag" type="text" style="margin-bottom: 0; margin-top: 0;width: 200px" class="gt-tagbox" ng-keydown="addTag($event)" list="tags"/>
                            <datalist id="tags">
                                <option ng-repeat="tag in tags" value="{{tag._id}}">
                                    {{tag._id}}
                                </option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
                <th style="width:1em"><span class="glyphicon glyphicon-star"></span></th>
                <th style="width:7em" ng-click="sort.resort('publishDate')" class="gt-sorted">
                    Fecha <span ng-class="sort.orderStyle['publishDate']"></span>
                </th>
                <th ng-click="sort.resort('NAME')" class="gt-sorted">
                    Nombre <span ng-class="sort.orderStyle['NAME']"></span>
                </th>
                <th style="width:13em" ng-click="sort.resort('STYLE.NAME')" class="gt-sorted">
                    Estilo <span ng-class="sort.orderStyle['STYLE.NAME']"></span>
                </th>
                <th style="width:4em" ng-click="sort.resort('OG')" class="gt-sorted">
                    DI <span ng-class="sort.orderStyle['OG']"></span>
                </th>
                <!--<th style="width:4em">DF</th>-->
                <th style="width:5em" ng-click="sort.resort('ABV')" class="gt-sorted">
                    %Alc <span ng-class="sort.orderStyle['ABV']"></span>
                </th>
                <th style="width:5em" ng-click="sort.resort('CALCIBU')" class="gt-sorted">
                    IBUs <span ng-class="sort.orderStyle['CALCIBU']"></span>
                </th>
                <th style="width:7em" ng-click="sort.resort('BATCH_SIZE')" class="gt-sorted">
                    Batch (L) <span ng-class="sort.orderStyle['BATCH_SIZE']"></span>
                </th>
                <th style="width:10em" ng-click="sort.resort('BREWER')" class="gt-sorted">
                    Cervecero <span ng-class="sort.orderStyle['BREWER']"></span>
                </th>
                <th style="width:10em" ng-click="sort.resort('owner.name')" class="gt-sorted">
                    Compartida por <span ng-class="sort.orderStyle['owner.name']"></span>
                </th>
                <th style="width:1em"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="recipe in published | filter:searchCriteria | advanced:filterData | orderBy:sort.orderBy()">
                <td>
                    <span ng-hide="recipe.owner._id == user._id">
                        <a ng-hide="user.favorites.indexOf(recipe._id) != -1" type="button" class="glyphicon glyphicon-star-empty" ng-click="addFavorites(recipe)"></a>
                        <a ng-show="user.favorites.indexOf(recipe._id) != -1" type="button" class="glyphicon glyphicon-star" ng-click="removeFavorites(recipe)"></a>
                    </span>
                </td>
                <td>{{ recipe.publishDate|date:'dd-MM-yyyy' }}</td>
                <td title="{{recipe.NAME}}">
                    <a ng-hide="recipe.owner._id == user._id" href="{{sharedUrl(recipe._id)}}">{{ recipe.NAME|limitText:100}}</a>
                    <a ng-show="recipe.owner._id == user._id" href="#/recipe/edit/{{encodeName(recipe._id)}}">{{ recipe.NAME|limitText:100}}</a>
                    <show-tags item-click="filterByTag" tags="recipe.tags"></show-tags>
                </td>
                <td>
                    <a title="Busca todas las recetas del mismo estilo" ng-href="/#/public?STYLE.NAME={{ recipe.STYLE.NAME }}">{{ recipe.STYLE.NAME }}</a>
                </td>
                <td>{{ recipe.OG  }}</td>
                <td>{{ recipe.ABV  }}</td>
                <td>{{ recipe.CALCIBU }}</td>
                <td>{{ recipe.BATCH_SIZE }}</td>
                <td>{{ recipe.BREWER }}</td>
                <td>
                    <a href="/#/home/{{recipe.owner._id}}">
                        <span ng-show="recipe.owner._id == user._id">Mi</span>
                        <span ng-hide="recipe.owner._id == user._id">{{ recipe.owner.name }}</span>
                    </a>
                </td>
                <td>
                    <a href="#/recipe/clone/{{encodeName(recipe._id)}}" type="button" class="btn btn-default btn-xs">clonar</a>
                </td>
            </tr>
          </tbody>
        </table>
        <!--<div class="panel-body">-->
            <!--<button type="button" class="btn btn-link pull-right" ng-click="findMore()">Buscar mas</button>-->
        <!--</div>-->
    </div>
    <div class="panel panel-default" ng-hide="published.length!=0">
        <div class="panel-body">
          <div class="alert alert-info">
                No hay recetas publicadas
          </div>
        </div>
    </div>
</div>