<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <label for="recipename">Nombre</label>
                <input type="text" class="form-control input-sm" id="recipename" placeholder="Nombre" ng-model="recipe.NAME">
            </div>
            <div class="col-lg-2">
              <label for="batch_size">Batch (L)</label>
              <input ng-blur="batchSizeBlur()" type="number" min="1" class="form-control input-sm" id="batch_size" step="0.1" ng-model="recipe.BATCH_SIZE">
            </div>
            <div class="col-lg-2">
              <label for="OG">OG</label>
              <span class="form-control input-sm gt-calculated" id="OG" ng-bind="recipe.OG" />
            </div>
            <div class="col-lg-2">
              <label for="ibu">IBU</label>
              <span class="form-control input-sm gt-calculated" id="ibu" ng-bind="recipe.CALCIBU">
            </div>
            <div class="col-lg-2">
              <label for="balance">Balance</label>
              <span class="form-control input-sm gt-calculated" id="balance" ng-bind="recipe.BV"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="style">Style</label>
                <div class="input-group">
                    <input type="text" class="form-control input-sm" id="style" placeholder="Estilo" ng-model="recipe.STYLE.NAME" list="styleNames">
                    <span class="input-group-btn">
                        <a title="Link a la pagina del estilo en el BJCP" ng-disabled="!bjcpLink(recipe.STYLE.NAME)" class="btn btn-default btn-sm" target="_blank" href="{{bjcpLink(recipe.STYLE.NAME)}}" ><span class="glyphicon glyphicon-link"></a>
                    </span>
                    <datalist id="styleNames">
                        <option ng-repeat="style in styles" value="{{style.name}}">
                            {{style.name}}
                        </option>
                    </datalist>
                </div>
                <a ng-show="relatedLink(recipe.STYLE.NAME)" target="_blank" href="{{relatedLink(recipe.STYLE.NAME)}}" >Ver ejemplos en RateBeer.com</a>
            </div>
            <div class="col-lg-2">
              <label for="EFFICIENCY">Eficiencia</label>
              <input type="number" class="form-control input-sm gt-preset" id="EFFICIENCY" ng-model="recipe.EFFICIENCY">
            </div>
            <div class="col-lg-2">
              <label for="fg">FG</label>
              <span class="form-control input-sm gt-calculated" id="fg" ng-bind="recipe.FG"/>
            </div>
            <div class="col-lg-2">
              <label for="bugu">BU/GU</label>
              <span class="form-control input-sm gt-calculated" id="bugu" >{{calulateBUGU(recipe.CALCIBU,recipe.OG)|number:2}}</span>
            </div>
            <div class="col-lg-2">
              <label for="abv">Alcohol (ABV) %</label>
              <span class="form-control input-sm gt-calculated" id="abv" ng-bind="recipe.ABV"/>
            </div>
        </div>
    </div>
</div>