<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="col-lg-2">
              <label for="batch_size">Batch (L)</label>
              <input ng-change="changeAmount()" type="number" class="form-control" id="batch_size" step="0.1" ng-model="recipe.BATCH_SIZE">
            </div>
            <div class="col-lg-2">
              <label for="OG">OG</label>
              <input type="number" class="form-control" id="OG" ng-model="recipe.OG" step="0.001" disabled>
            </div>
            <div class="col-lg-2">
              <label for="ibu">IBU</label>
              <input type="number" class="form-control" id="ibu" readonly="true">
            </div>
            <div class="col-lg-2">
              <label for="balance">Balance</label>
              <input type="number" class="form-control" id="balance" readonly="true">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="style">Style</label>
                <input type="text" class="form-control" id="style" placeholder="Estilo">
            </div>
            <div class="col-lg-2">
              <label for="EFFICIENCY">Eficiencia</label>
              <input ng-change="changeAmount()" type="number" class="form-control" id="EFFICIENCY" ng-model="recipe.EFFICIENCY">
            </div>
            <div class="col-lg-2">
              <label for="fg">FG</label>
              <input type="number" class="form-control" id="fg" readonly="true">
            </div>
            <div class="col-lg-2">
              <label for="bugu">BU/GU</label>
              <input type="number" class="form-control" id="bugu" readonly="true">
            </div>
            <div class="col-lg-2">
              <label for="abv">Alcohol (ABV) %</label>
              <input type="number" class="form-control" id="abv" readonly="true">
            </div>
        </div>
    </div>
</div>
<ng-include src="'partial/recipe-detail-fermentables.html'"></ng-include>
<ng-include src="'partial/recipe-detail-hops.html'"></ng-include>
<div class="panel panel-default">
    <div class="panel-heading">Otros</div>
    <div class="panel-body">
        
    </div>
</div>
<div class="pull-right">
    <button type="button" class="btn btn-default">Cancelar</button>
    <button type="button" class="btn btn-primary">Guardar</button>
</div>