<ul class="nav nav-tabs" style="margin-bottom: -0.1em;">
    <li>
        <a href="/#/recipe">Mis recetas ({{stats.owns}})</a>
    </li>
    <li>
        <a href="/#/collaborated">Colaboraciones ({{stats.collaborations}})</a>
    </li>
    <li>
        <a href="/#/favorites">Favoritas ({{user.favorites.length}})</a>
    </li>
    <li class="active">
        <a><b>Publicadas ({{stats.publics}})</b></a>
    </li>
</ul>
<div ng-cloak>
    <listview ng-if="user"
          listview-data="published"
          listview-sort="sort"
          listview-config="config"
          listview-filter="filterData"
          listview-header="headers"></listview>

    <div class="panel panel-default" ng-hide="published.length!=0">
        <div class="panel-body">
          <div class="alert alert-info">
                No hay recetas publicadas
          </div>
        </div>
    </div>
</div>
