<div class="modal-header">
    <h1>Lista de compras</h1>
</div>
<div class="modal-body" id="print_content" >
  <div class="print-panel" ng-class="fontClass" >
    <h3>{{recipe.NAME}}</h3>
    <hr/>

    <table class="table table-condensed table-bordered" ng-show="recipe.FERMENTABLES.FERMENTABLE.length != 0">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td><span ng-bind="item.name"></span></td>
                <td><span ng-bind="item.value"></span> {{item.unit}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <a class="btn btn-default" ng-click="cancel()" >Cerrar</a>
      <a class="btn btn-default" ng-click="print()" >
        <span class="glyphicon glyphicon-print"></span> Imprimir
      </a>
    </div>
  </div>
</div>
