<div class="panel panel-default" >
    <div class="panel-heading">Alcohol</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Calcular</label>
                <div class="col-sm-5">
                    <select ng-model="alcohol.mode" class="form-control input-sm">
                        <option value="OG">DI</option>
                        <option value="FG">DF</option>
                        <option value="ABV">Alcohol</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Plato</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DI</label>
                <div class="col-sm-5">
                    <input ng-disabled="alcohol.mode=='OG'" type="number" step="0.001" ng-model="alcohol.OG" class="form-control input-sm"/>
                </div>
                <div class="col-sm-5">
                    <input ng-blur="updateOG()" ng-disabled="alcohol.mode=='OG'" type="number" step="0.01" ng-model="alcohol.OGP" class="form-control input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DF</label>
                <div class="col-sm-5">
                    <input ng-disabled="alcohol.mode=='FG'" type="number" step="0.001" ng-model="alcohol.FG" class="form-control input-sm"/>
                </div>
                <div class="col-sm-5">
                    <input ng-blur="updateFG()" ng-disabled="alcohol.mode=='FG'" type="number" step="0.01" ng-model="alcohol.FGP" class="form-control input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Alc</label>
                <div class="col-sm-5">
                    <input ng-disabled="alcohol.mode=='ABV'" type="number" step="0.01" ng-model="alcohol.ABV" class="form-control input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <label title="atenuacion aparente" class="col-sm-2 control-label">Aten.</label>
                <div class="col-sm-5">
                    <span class="form-control input-sm">{{alcohol.attenuation|number:0}}%</span>
                </div>
            </div>
        </form>
    </div>
</div>