<div ng-if="colClass=='col-xs-6'" class="modal-header">
    <a href="" ng-click="cancel()" >
        <span class="pull-right glyphicon glyphicon-remove"></span>
    </a>
    <h3>Calculadoras</h3>
</div>
<div class="modal-body">
	<div class="row">
	 	<div class="col-xs-12">
		    <div style="height: 320px;" ng-if="show.abv" class="{{colClass}}" calculator-abv></div>
		    <div style="height: 320px;" ng-if="show.hydrometer" class="{{colClass}}" calculator-hydro></div>
		    <div style="height: 320px;" ng-if="show.refractometer" class="{{colClass}}" calculator-refract></div>
            <div style="height: 320px;" ng-if="show.dilution" class="{{colClass}}" calculator-dilution></div>
            <div style="height: 320px;" ng-if="show.mix" class="{{colClass}}" calculator-mix></div>
		</div>
	</div>
</div>
<div ng-if="colClass!='col-xs-6'" class="modal-footer">
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <a class="btn btn-default btn-xs" ng-click="cancel()" >Cerrar</a>
    </div>
  </div>
</div>
